body {
  background: linear-gradient(135deg, #f8e8ec, #f6d8e0, #ffeef8);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.app-container {
  background: transparent;
}

.chat-box {
  width: 400px;
  background-color: #1e1f29;
  border-radius: 20px;
  overflow: hidden;
}

.chat-header {
  background-color: #1e1f29;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  border-bottom: 1px solid #2c2d3a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chat-body {
  height: 400px;
  overflow-y: auto;
  padding: 15px;
  background-color: #2a2b38;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 75%;
  word-wrap: break-word;
}

.bot-msg {
  background-color: #f6d8e0;
  align-self: flex-start;
  color: #2a2b38;
}

.user-msg {
  background-color: #ffb6c1;
  align-self: flex-end;
  color: #2a2b38;
}

.chat-footer {
  background-color: #1e1f29;
  border-top: 1px solid #2c2d3a;
}

.send-btn {
  background-color: #f6d8e0;
  border: none;
  color: #1e1f29;
  font-weight: 600;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #ffb6c1;
}
